[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pydocstyle = "<4"
pytest = "*"
pytest-cov = "*"
pylint = "*"
mock = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
tox = "*"

[packages]
serverlessrepo = {editable = true,path = "."}
